<data name="魔法电子书">
  
<node name="新节点" guid="35B0319E-73DC-E308-CFA9-55A9748DBCAD1" nodetype="pic_only" pic="config/pic/1.png"/>
<node name="新节点" guid="805D1090-8DEB-1BCE-9B91-8843D5AD3BE82" nodetype="pic_only" pic="config/pic/2.png"/>
  
<node name="新节点" guid="35B0319E-73DC-E308-CFA9-55A9748DBCAD5" nodetype="pic_only" pic="config/pic/1.png"/>
<node name="新节点" guid="805D1090-8DEB-1BCE-9B91-8843D5AD3BE68" nodetype="pic_only" pic="config/pic/2.png"/>
 
</data>